{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
        "title": "SqlManagementClient",
        "version": "2017-03-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/restorableDroppedManagedDatabases.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "sql-restorableDroppedManagedDatabases",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/restorableDroppedDatabases": {
            "get": {
                "description": "Gets a list of restorable dropped managed databases.",
                "operationId": "RestorableDroppedManagedDatabases_ListByInstance",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the list of restorable dropped databases.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of restorable dropped managed databases.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Link to retrieve next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of results.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "ARM resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "x-ms-azure-resource": true
                                                            }
                                                        ],
                                                        "description": "ARM tracked top level resource.",
                                                        "properties": {
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "A restorable dropped managed database resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Resource properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "creationDate": {
                                                                "description": "The creation date of the database (ISO8601 format).",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "databaseName": {
                                                                "description": "The name of the database.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deletionDate": {
                                                                "description": "The deletion date of the database (ISO8601 format).",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "earliestRestoreDate": {
                                                                "description": "The earliest restore date of the database (ISO8601 format).",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "location"
                                                ],
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
                    }
                },
                "tags": [
                    "RestorableDroppedManagedDatabases"
                ],
                "x-ms-examples": {
                    "List restorable dropped databases by managed instances": {
                        "parameters": {
                            "api-version": "2017-03-01-preview",
                            "managedInstanceName": "managedInstance",
                            "resourceGroupName": "Test1",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/managedInstances/testsvr/restorableDroppedDatabases/testdb,131403269876900000",
                                            "location": "southeastasia",
                                            "name": "testdb,131403269876900000",
                                            "properties": {
                                                "creationDate": "2017-05-07T04:41:33.937Z",
                                                "databaseName": "testdb",
                                                "deletionDate": "2017-05-27T02:49:47.690Z"
                                            },
                                            "type": "Microsoft.Sql/managedInstances/restorableDroppedDatabases"
                                        },
                                        {
                                            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/managedInstances/testsvr/restorableDroppedDatabases/testdb2,131403269876900000",
                                            "location": "southeastasia",
                                            "name": "testdb2,131403269876900000",
                                            "properties": {
                                                "creationDate": "2017-05-07T04:41:33.937Z",
                                                "databaseName": "testdb2",
                                                "deletionDate": "2017-05-27T02:49:47.690Z"
                                            },
                                            "type": "Microsoft.Sql/managedInstances/restorableDroppedDatabases"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/restorableDroppedDatabases/{restorableDroppedDatabaseId}": {
            "get": {
                "description": "Gets a restorable dropped managed database.",
                "operationId": "RestorableDroppedManagedDatabases_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "restorableDroppedDatabaseId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the specified restorable dropped database.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM tracked top level resource.",
                                            "properties": {
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags.",
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "type": "object"
                                        }
                                    ],
                                    "description": "A restorable dropped managed database resource.",
                                    "properties": {
                                        "properties": {
                                            "description": "Resource properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "creationDate": {
                                                    "description": "The creation date of the database (ISO8601 format).",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "databaseName": {
                                                    "description": "The name of the database.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "deletionDate": {
                                                    "description": "The deletion date of the database (ISO8601 format).",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "earliestRestoreDate": {
                                                    "description": "The earliest restore date of the database (ISO8601 format).",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "location"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 400 InvalidRestorableDroppedDatabaseDeletionDate - The restorable dropped database deletion date given is invalid\n\n * 400 InvalidRestorableDroppedDatabaseId - Invalid restorable dropped database identifier\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
                    }
                },
                "tags": [
                    "RestorableDroppedManagedDatabases"
                ],
                "x-ms-examples": {
                    "Gets a restorable dropped managed database.": {
                        "parameters": {
                            "api-version": "2017-03-01-preview",
                            "managedInstanceName": "managedInstance",
                            "resourceGroupName": "Test1",
                            "restorableDroppedDatabaseId": "testdb,131403269876900000",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/managedInstances/testsvr/restorableDroppedDatabases/testdb,131403269876900000",
                                    "location": "southeastasia",
                                    "name": "testdb,131403269876900000",
                                    "properties": {
                                        "creationDate": "2017-05-07T04:41:33.937Z",
                                        "databaseName": "testdb",
                                        "deletionDate": "2017-05-27T02:49:47.690Z"
                                    },
                                    "type": "Microsoft.Sql/managedInstances/restorableDroppedDatabases"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Resource": {
                "description": "ARM resource.",
                "properties": {
                    "id": {
                        "description": "Resource ID.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "name": {
                        "description": "Resource name.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "type": {
                        "description": "Resource type.",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "type": "object",
                "x-ms-azure-resource": true
            },
            "RestorableDroppedManagedDatabase": {
                "allOf": [
                    {
                        "allOf": [
                            {
                                "description": "ARM resource.",
                                "properties": {
                                    "id": {
                                        "description": "Resource ID.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "Resource name.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "Resource type.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "x-ms-azure-resource": true
                            }
                        ],
                        "description": "ARM tracked top level resource.",
                        "properties": {
                            "location": {
                                "description": "Resource location.",
                                "type": "string",
                                "x-ms-mutability": [
                                    "read",
                                    "create"
                                ]
                            },
                            "tags": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Resource tags.",
                                "type": "object"
                            }
                        },
                        "required": [
                            "location"
                        ],
                        "type": "object"
                    }
                ],
                "description": "A restorable dropped managed database resource.",
                "properties": {
                    "properties": {
                        "description": "Resource properties.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "creationDate": {
                                "description": "The creation date of the database (ISO8601 format).",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                            },
                            "databaseName": {
                                "description": "The name of the database.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "deletionDate": {
                                "description": "The deletion date of the database (ISO8601 format).",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                            },
                            "earliestRestoreDate": {
                                "description": "The earliest restore date of the database (ISO8601 format).",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "required": [
                    "location"
                ],
                "type": "object"
            },
            "RestorableDroppedManagedDatabaseListResult": {
                "description": "A list of restorable dropped managed databases.",
                "properties": {
                    "nextLink": {
                        "description": "Link to retrieve next page of results.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "value": {
                        "description": "Array of results.",
                        "items": {
                            "allOf": [
                                {
                                    "allOf": [
                                        {
                                            "description": "ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "ARM tracked top level resource.",
                                    "properties": {
                                        "location": {
                                            "description": "Resource location.",
                                            "type": "string",
                                            "x-ms-mutability": [
                                                "read",
                                                "create"
                                            ]
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Resource tags.",
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "location"
                                    ],
                                    "type": "object"
                                }
                            ],
                            "description": "A restorable dropped managed database resource.",
                            "properties": {
                                "properties": {
                                    "description": "Resource properties.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "creationDate": {
                                            "description": "The creation date of the database (ISO8601 format).",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "databaseName": {
                                            "description": "The name of the database.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "deletionDate": {
                                            "description": "The deletion date of the database (ISO8601 format).",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "earliestRestoreDate": {
                                            "description": "The earliest restore date of the database (ISO8601 format).",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "required": [
                                "location"
                            ],
                            "type": "object"
                        },
                        "readOnly": true,
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "RestorableDroppedManagedDatabaseProperties": {
                "description": "The restorable dropped managed database's properties.",
                "properties": {
                    "creationDate": {
                        "description": "The creation date of the database (ISO8601 format).",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                    },
                    "databaseName": {
                        "description": "The name of the database.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "deletionDate": {
                        "description": "The deletion date of the database (ISO8601 format).",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                    },
                    "earliestRestoreDate": {
                        "description": "The earliest restore date of the database (ISO8601 format).",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "TrackedResource": {
                "allOf": [
                    {
                        "description": "ARM resource.",
                        "properties": {
                            "id": {
                                "description": "Resource ID.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "name": {
                                "description": "Resource name.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "type": {
                                "description": "Resource type.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "ARM tracked top level resource.",
                "properties": {
                    "location": {
                        "description": "Resource location.",
                        "type": "string",
                        "x-ms-mutability": [
                            "read",
                            "create"
                        ]
                    },
                    "tags": {
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Resource tags.",
                        "type": "object"
                    }
                },
                "required": [
                    "location"
                ],
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "The API version to use for the request.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "x-ms-parameter-location": "client",
                "schema": {
                    "type": "string"
                }
            },
            "BlobAuditingPolicyNameParameter": {
                "description": "The name of the blob auditing policy.",
                "in": "path",
                "name": "blobAuditingPolicyName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string",
                    "enum": [
                        "default"
                    ]
                }
            },
            "DatabaseNameParameter": {
                "description": "The name of the database.",
                "in": "path",
                "name": "databaseName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ManagedInstanceNameParameter": {
                "description": "The name of the managed instance.",
                "in": "path",
                "name": "managedInstanceName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ResourceGroupParameter": {
                "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                "in": "path",
                "name": "resourceGroupName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ServerNameParameter": {
                "description": "The name of the server.",
                "in": "path",
                "name": "serverName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SqlVirtualMachineContainerNameParameter": {
                "description": "The name of the SqlVirtualMachineContainer.",
                "in": "path",
                "name": "sqlVirtualMachineContainerName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SqlVirtualMachineInstanceNameParameter": {
                "description": "The name of the SqlVirtualMachineInstance.",
                "in": "path",
                "name": "sqlVirtualMachineInstanceName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SubscriptionIdParameter": {
                "description": "The subscription ID that identifies an Azure subscription.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "x-ms-parameter-location": "client",
                "schema": {
                    "type": "string"
                }
            },
            "VirtualClusterNameParameter": {
                "description": "The name of the virtual cluster.",
                "in": "path",
                "name": "virtualClusterName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "azure_auth": []
        }
    ]
}